<div>
  <form action="/task/new" method="POST">
    <input type="text" name="title" placeholder="Digite o nome da sua tarefa">
    <input type="text" name="description" placeholder="Digite a descrição da sua tarefa">
    <select name="status">
      <option value="TODO">To do</option>
      <option value="ONGOING">Ongoing</option>
      <option value="DONE">Done</option>
      <option value="CANCECLED">Canceled</option>
    </select>
    <input type="date" name="dueDate">

    <button type="submit">Criar Tarefa</button>
  </form>
</div>